version: "3.9"

services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: icyCreams-backend-prod
    restart: always
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: production

  frontend:
    build:
      context: ./icy-creams
      dockerfile: Dockerfile
    container_name: icyCreams-frontend-prod
    restart: always
    ports:
      - "80:80"
    depends_on:
      - backend
