body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: rgb(2, 2, 37);
}

h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  color: #ff6f61;
  text-align: center;
}

p {
  text-align: center;
  color: white;
}

.nav {
  margin-bottom: 2rem;
  background-color: rgb(8, 8, 59);
  align-content: center;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 2rem 5rem 2rem 5rem;
  padding: 1rem;
  align-self: center;
  column-gap: 5rem;
  border-radius: 40px;
  box-shadow: 5px 5px 5px black;
}

.nav a {
  text-decoration: none;
  background-color: rgb(2, 2, 37);
  border-radius: 50px;
  padding: 1rem 2rem;
  color: #ff6f61;
  font-weight: bold;
}

.nav a:hover {
  background-color: #ff6e6185;
  box-shadow: 2px 2px 5px black;
  transition: 0.3s;
  color: rgb(3, 3, 30);
}

.logo {
  width: 200px;
  height: 200px;
  background-image: url("../public/pics/logo-pic.jpg");
  background-size: cover;
  border-radius: 50%;
  background-position: center center;
  align-self: center;
  margin: 2rem auto 0 auto;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 2rem;
  gap: 2rem 4rem;
}

.footer {
  background-color: rgb(8, 8, 59);
  justify-content: center;
  text-align: center;
  padding: 1rem;
  color: #5e5e5e;
}

.card {
  background-color: rgb(2, 1, 11);
  border-radius: 20px;
  box-shadow: 5px 5px 10px rgb(205, 147, 147);
  margin: 1rem;
  align-items: center;
  width: 300px;
  min-height: 400px;
  max-width: 600px;
  color: white;
  text-align: center;
  border: 1px solid #e49189;
}

.btn {
  background-color: rgba(10, 5, 36, 0.863);
  border: none;
  border-radius: 20px;
  padding: 1rem 3rem;
  color: rgb(255, 255, 255);
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  border: 1px solid #ff6f61;
}

.btn:hover {
  background-color: #d2878073;
  color: rgb(3, 3, 30);
  transition: 0.3s;
}

.flavour {
  background-color: rgb(2, 1, 11);
  padding: 1rem 4rem;
  color: pink;
  font-size: larger;
  font-weight: bold;
  border-radius: 50px;
  width: 100px;
}

h4 {
  color: #e6afaabf;
  font-weight: 600;
}

.input {
  padding: 1rem 3.5rem;
  border-radius: 20px;
  border: none;
  color: whitesmoke;
  background-color: #080324;
}

.icon {
  background-color: #0d0e46b4;
  border: none;
  border-radius: 10px;
}
